.single-page {
    margin: 10px;
    .repos-box {
        display: flex;
        flex-flow: row wrap;
    }
    .perfil-img-box {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #000;
    }
    
    .perfil-img {
        width: 100px;
    }
    
    .number-box span {
        margin-right: 10px;
    }
    
    .select-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 10px;
        .lang-select {
            margin-left: 20px;
            width: 20%;
            min-width: 100px;
        }
    }

    .information-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        :first-child {
            margin-right: 30px;
        }
    } 

    .footer-box {
        display: flex;
        align-items: flex-end;
        flex-flow: row nowrap;
        .social-media-box {
            font-size: 1.5rem;
            flex: 1;
            text-align: end;
            a {
                text-decoration: none;
                color: #000;
                margin-right: 10px;
            }
        }
    }
}