.single-page {
    margin: 10px;
}

.single-page .repos-box {
    display: flex;
    flex-flow: row wrap;
}

.perfil-img-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
}

.perfil-img {
    width: 100px;
}

.footer-box {
    font-size: 1.5rem;
    text-align: end;
}

.footer-box a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}